<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
<table class="table table-striped">
  <thead>
  <tr>
    <td>Id</td>
    <td>Name</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let position of positionsModels">
    <td>{{ position.id }}</td>
    <td>{{ position.name }}</td>
  </tr>
  </tbody>
</table>
<!--<div class="for" *ngFor='let project of projectModels' > <p> {{ project.id + project.name }} </p> </div>-->
</body>
</html>
