<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
<table class="table table-striped">
  <thead>
  <tr>
    <td>Id</td>
    <td>FirstName</td>
    <td>LastName</td>
    <td>RegisteredAt</td>
    <td>Birthday</td>
    <td>Email</td>
    <td>PositionId</td>
    <td>TeamId</td>
    <td colspan="2">
      <a routerLink="/users/add" class="btn" baseButton addButton>Add user</a>
    </td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of userModels">
    <td>{{ user.id }}</td>
    <td>{{ user.firstName }}</td>
    <td>{{ user.lastName }}</td>
    <td>{{ user.registeredAt | appDateUa}}</td>
    <td>{{ user.birthday | appDateUa}}</td>
    <td>{{ user.email}}</td>
    <td>{{ user.positionId }}</td>
    <td>{{ user.teamId }}</td>
    <td>
      <a class="btn" routerLink="/users/change" (click)="changeUser(user)" baseButton changeButton>Change</a>
    </td>
    <td>
      <a class="btn" href="" (click)="deleteUser(user.id)" baseButton deleteButton>Delete</a>
    </td>
  </tr>
  </tbody>
</table>
<!--<div class="for" *ngFor='let project of projectModels' > <p> {{ project.id + project.name }} </p> </div>-->
</body>
</html>
