* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Verdana, "Helvetica Neue", serif;
}

p {
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 100%
}

.navigation {

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(34, 47, 52);
  padding: 5px 0px;
}

.grid-container {

  padding: 15px 10px;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 30% repeat(6, calc(70%/6));
  grid-template-rows: 100%;
}

.grid-item {

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  height: 100%;
  width: 100%;
  color: white;
}

.grid-item a :active,
.grid-item a:visited,
.grid-item a:link {
  text-decoration: none;
  color: white;
}

.grid-item a:hover {
  font-size: 18px;
  text-decoration: underline;
}

.first-grid-item a:hover{
  font-size: 35px;
  text-decoration: none;
}

.first-grid-item {

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: white;
  font-weight: 800;
  font-size: 35px;
  padding: 0;
}

.sub-nav {
  padding: 10px;
  background-color: rgb(30, 170, 133);
}

main {
  padding-top: 102px;
  display: flex;
  justify-content: center;
}
