* {
  box-sizing: border-box;
}

p{
  margin: 0;
  position: absolute;
  bottom: 0;
  background-color: navajowhite;
  font-size: 12px;
}

body{
  width: 100%;
  height: 100%;
}

form {
  width: 340px;
  margin: 20px;
  padding: 10px;
  border: 6px solid rgb(34, 47, 52);
  outline: 3px solid rgb(30, 170, 133);
}

form input {
  width: 100%;
  outline: none;
  padding: 10px;
}

.submit-btn {
  font-size: 14px;
  color: black;
  background-color: orange;
  border: 2px solid black;
  border-radius: 4px;
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 8px;
}

.submit-btn:disabled {
  opacity: .3;
}

.submit-btn:hover {
  cursor: pointer;
}

.submit-btn:active {
  background-color: darkorange;
}

label {
  display: block;
  font-size: 12px;
}

input.ng-touched.ng-invalid {border:solid red 2px;}
input.ng-touched.ng-valid {border:solid green 2px;}

.test {
  position: relative;
}
