<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
<table class="table table-striped">
  <thead>
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>CreatedAt</td>
    <td colspan="2">
      <a routerLink="/teams/add" class="btn" baseButton addButton>Add team</a>
    </td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let team of teamModels">
    <td>{{ team.id }}</td>
    <td>{{ team.name }}</td>
    <td>{{ team.createdAt | appDateUa }}</td>
    <td>
      <a class="btn" routerLink="/teams/change" (click)="changeTeam(team)" baseButton changeButton>Change</a>
    </td>
    <td>
      <a class="btn" routerLink="" (click)="deleteTeam(team.id)" baseButton deleteButton>Delete</a>
    </td>
  </tr>
  </tbody>
</table>
<!--<div class="for" *ngFor='let project of projectModels' > <p> {{ project.id + project.name }} </p> </div>-->
</body>
</html>
