* {
  box-sizing: border-box;
}

body {
  background-color: rgb(246, 247, 230);
}

p{
  padding: 0;
  margin: 0;
}

tr {

  padding: 10px;
  overflow: -moz-scrollbars-horizontal;
}

td {
  padding: 10px;
}

table {
  margin-top: 50px;
}

table,tr,td,th
{
  text-align: center;
  border-collapse: collapse;
}

thead tr td{
  border-right: 2px solid dimgray;
  font-size: 18px;
  color: white;
  background-color: rgb(34, 47, 52);
}

tbody td {
  border: 2px solid dimgray;
}

tr:nth-child(even) {
  color: white;
  background-color: rgb(34, 47, 52);
}

.btn:active,
.btn:link,
.btn:visited {
  color: white;
  text-decoration: none;
}

.btn:hover {
  opacity: .5;
}
