<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<table class="table table-striped">
  <thead>
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Description</td>
    <td>CreatedAt</td>
    <td>Deadline</td>
    <td>Price</td>
    <td>AuthorId</td>
    <td>TeamId</td>
    <td colspan="2">
      <a routerLink="/projects/add" class="btn" baseButton addButton>Add project</a>
    </td>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projectModels">
        <td>{{ project.id }}</td>
        <td>{{ project.name }}</td>
        <td>{{ project.description }}</td>
        <td>{{ project.createdAt | appDateUa}}</td>
        <td>{{ project.deadline | appDateUa}}</td>
        <td>{{ project.price }}</td>
        <td>{{ project.authorId }}</td>
        <td>{{ project.teamId }}</td>
        <td>
          <a class="btn" routerLink="/projects/change" (click)="changeProject(project)" baseButton changeButton>Change</a>
        </td>
        <td>
          <a class="btn" href="" (click)="deleteProject(project.id)" baseButton deleteButton>Delete</a>
        </td>
    </tr>
  </tbody>
</table>
  <!--<div class="for" *ngFor='let project of projectModels' > <p> {{ project.id + project.name }} </p> </div>-->
</body>
</html>
