<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
<table class="table table-striped">
  <thead>
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Description</td>
    <td>CreatedAt</td>
    <td>FinishedAt</td>
    <td>PerformerId</td>
    <td>ProjectId</td>
    <td>TaskStateId</td>
    <td colspan="2">
      <a routerLink="/tasks/add" class="btn" baseButton addButton>Add task</a>
    </td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let task of taskModels">
    <td>{{ task.id }}</td>
    <td>{{ task.name }}</td>
    <td>{{ task.description }}</td>
    <td>{{ task.createdAt | appDateUa}}</td>
    <td>{{ task.finishedAt | appDateUa}}</td>
    <td>{{ task.performerId }}</td>
    <td>{{ task.projectId }}</td>
    <td *ngIf="task.taskStateId === 1"><div created><p>{{ task.taskStateId }}</p></div></td>
    <td *ngIf="task.taskStateId === 2"><div started><p>{{ task.taskStateId }}</p></div></td>
    <td *ngIf="task.taskStateId === 3"><div finished><p>{{ task.taskStateId }}</p></div></td>
    <td *ngIf="task.taskStateId === 4"><div canceled><p>{{ task.taskStateId }}</p></div></td>
    <td>
      <a class="btn" routerLink="/tasks/change" (click)="changeTask(task)" baseButton changeButton>Change</a>
    </td>
    <td>
      <a class="btn" href="" (click)="deleteTask(task.id)" baseButton deleteButton>Delete</a>
    </td>
  </tr>
  </tbody>
</table>
<!--<div class="for" *ngFor='let project of projectModels' > <p> {{ project.id + project.name }} </p> </div>-->
</body>
</html>
